<div class="row">

  <div class="col-md-12">
    <table class="table table-striped table-hover">
      <thead>
        <tr>
          <th>Name</th>
          <th>Birth Date</th>
          <th>Credit Score</th>
          <th>Rating</th>
        </tr>
      </thead>
      <tbody class="tableBody">
        <tr *ngFor='let p of persons'>
          <td>{{ p.firstName + ' ' + p.lastName }}</td>
          <td>{{ p.birthDate}}</td>
          <td>{{ p.credit}}</td>
          <td>{{ p.rating}}</td>
          <td><a class="btn btn-default" routerLink="/persons/{{ p.id }}">Detail</a></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>


